<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IXRay.Packages.Nvtt" version="2020.12.21.1-open" targetFramework="native" />
  <package id="IXRay.Packages.Nvtt.Runtimes" version="2020.12.21.1-open" targetFramework="native" />
  <package id="IXRay.Packages.Nvtt.Runtimes.linux-x64" version="2020.12.21.1-open" targetFramework="native" />
  <package id="IXRay.Packages.Nvtt.Runtimes.osx-arm64" version="2020.12.21.1-open" targetFramework="native" />
  <package id="IXRay.Packages.Nvtt.Runtimes.win-x64" version="2020.12.21.1-open" targetFramework="native" />
  <package id="IXRay.Packages.Nvtt.Runtimes.win-x86" version="2020.12.21.1-open" targetFramework="native" />
  <package id="IXRay.Packages.Nvtt.Symbols" version="2020.12.21.1-open" targetFramework="native" />
  <package id="IXRay.Packages.Nvtt.Symbols.linux-x64" version="2020.12.21.1-open" targetFramework="native" />
  <package id="IXRay.Packages.Nvtt.Symbols.osx-arm64" version="2020.12.21.1-open" targetFramework="native" />
  <package id="IXRay.Packages.Nvtt.Symbols.win-x64" version="2020.12.21.1-open" targetFramework="native" />
  <package id="IXRay.Packages.Nvtt.Symbols.win-x86" version="2020.12.21.1-open" targetFramework="native" />
</packages>